
<div class="container">
  <h1>All our flats (<%= @flats.count %>)</h1>
<div class="card-container">
  <% @flats.each do |flat| %>
    <div class="card">
      <div class="card-info">
        <h4><%= flat.name %></h4>
        <p><%= flat.address %></p>
        <p><i class="fas fa-user-friends"></i><%= flat.number_of_guests %> <i class="fas fa-euro-sign"></i><%= flat.price_per_night %></p>
      </div>
      <div class="card-footer">
        More info
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add new  flat", new_flat_path %>

  

  

</div>